.banner-size {
  height: 200px;
  width: 100%;
  object-fit: cover;
  z-index: -4;
}
.intro-bg {
  position: relative;
  text-align: center;
}
.textover-banner > h4 {
  font-family: "Cabin", arial, sans-serif;
  color: white;
  letter-spacing: 1px;
  font-size: 2vw;
  text-align: center !important;
  z-index: 9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.textover-banner > p {
  font-size: 1vw;
  color: white;
  letter-spacing: 1px;
  text-align: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner-logo {
  z-index: 9;
  color: white;
  font-size: 12px;
  letter-spacing: 3px;
  text-align: center;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
